body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #f4f4f4;
}

.team-member {
  text-align: center;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}

.team-member:hover {
  transform: translateY(-5px);
}

.team-member img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-bottom: 15px;
  border: 4px solid #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}

.team-member img:hover {
  transform: scale(1.1);
}

.team-member h2 {
  margin: 0;
  font-size: 1.8em;
  color: #333;
}

.team-member p {
  margin-top: 5px;
  color: #777;
}

.team-member a {
  color: #0077b5;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}

.team-member a:hover {
  color: #004471;
}
.team-member h3 {
  color: #777;
  background-color:#d6daef ;
  border: 1px solid black; /* You can adjust the border width and color */
  padding: 5px; 
}
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
  margin: 0;
  background: linear-gradient(135deg, #3494e6, #ec6ead);
}
